@import colors
@import fonts/Montserrat.scss
@import reset
@import blocks/header
@import blocks/design
@import blocks/feedback
@import blocks/service
@import blocks/step
@import blocks/projects
@import blocks/map
@import blocks/footer
@import media

.bullets
    align-self: flex-start

section, header
    overflow: hidden

.bullet
    display: block
    margin-bottom: 30px
    width: 26px
    height: 26px
    border-radius: 50%
    background: $brown-light-color
