@import colors
@import fonts/Montserrat.scss
@import reset
@import blocks/header
@import blocks/design
@import blocks/feedback
@import blocks/service
@import blocks/projects
@import media

.bullets
    align-self: flex-start
.bullet
    display: block
    width: 26px
    height: 26px
    border-radius: 50%
    background: $brown-light-color
