.step
    position: relative
    padding-bottom: 211px
    background: linear-gradient(180deg, rgba(85, 64, 53, 0.37) 0%, rgba(85, 64, 53, 0) 100%)
    &::before
        content: '72ru'
        position: absolute
        z-index: 2
        left: 50%
        top: -30%
        transform: translateX(-50%)
        text-align: center
        color: transparent
        -webkit-text-stroke: 1px $white-color
        font:
            size: 600px
            weight: 700
    &__title
        margin-bottom: 260px
    &-item
        display: flex
        flex-direction: column-reverse
        align-items: center
        &.inline
            & .step-item__text
                margin-bottom: 0
        &__number
            display: flex
            justify-content: center
            align-items: center
            color: $shake-text-color
            background: $text-color
            width: 57px
            height: 57px
            border-radius: 50%
            margin: 0 auto
            font:
                size: 45px
                weight: 600
        &__text
            color: $text-color
            margin-bottom: 30px
            font:
                size: 25px
                weight: 400
        &__description
            position: absolute
            top: -80px
            left: 0
            z-index: 5
            padding: 5px 10px
            border-radius: 10px
            color: $white-color
            background: rgba(85, 64, 53, 1)
            border: 1px solid darken(rgba(85, 64, 53, 1),10% )
            max-width: 260px
            opacity: 0
            visibility: hidden
            transition: all 0.8s
            &.active
                opacity: 1
                visibility: visible
                transition: all 0.8s
    &-block
        display: flex
        justify-content: space-around
        & .bullets
            margin-left: 30px

    &-subblock
        position: relative
        &__card
            display: none
        &__column
            position: absolute
            display: inline-block
            margin-left: auto
            margin-right: auto
            transition: all 0.8s
            &:hover
                cursor: pointer
                transition: all 0.8s
                .step-item__number
                    transition: all 0.8s
                    background: transparent
                    color: $white-color
                    border: 1px solid $white-color

            &_1
                top: -14%
                left: 2%

            &_2
                top: -14%
                left: 44%
            &_3
                right: -2%
                top: 11%
                .step-item__number
                    margin-left: 10px
            &_4
                top: 20%
                left: 42%
            &_5

                top: 44%
                left: -1%
                .step-item__number
                    margin-left: 10px
            &_6
                bottom: 29%
                left: 43%
            &_7
                right: -2%
                bottom: 11%
                .step-item__number
                    margin-left: 10px
            &_8
                left: 44%
                bottom: -5%
            &_9
                left: 2%
                bottom: -3%
    &__img
        margin-left: 20px
.inline
    flex-direction: row
    align-items: center
    vertical-align: middle
